html,body {
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    overflow: hidden;
    background: #44c4e7 url('./assets/background-blue.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-size: 100% 94%;
   background-position: bottom;
}



/* .background {
    z-index: -10;
    background-image: url('./assets/background-blue.jpg');
    
    Add the blur effect
    filter: blur(5px);
    -webkit-filter: blur(5px);
    
    Full height
    height: 100%;
    width: 100%;
    
    Center and scale the image nicely
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.1);
} */

.center-text {
	font-family: "Impact";
    /* color: rgb(223, 114, 12); */
    color: #fb6542;
	font-size: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
}

.button {
	border-radius: 24px;
	cursor: pointer;
	padding: 8px 30px;
	font-size: 24px;
	color: white;
	background: #3f681c;
}

.button:hover {
    background: #192b0b;
}

h2 {
    font-family: "Impact";
    font-size: 80px;
}

#profile {
    color: #fb6542;
}

